<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="OutputPath" value="C:\_GHPReport" />
    <add key="TakeScreenshotAfterFail" value="False" />
    <add key="Sprint" value="" />
    <add key="RunName" value="" />
    <add key="RunGuid" value="" />
    <add key="RealTimeGeneration" value="True" />
  </appSettings>
</configuration>